name: udf
description: A package to implement a unidirectional data flow in your app.
version: 0.0.18
homepage: https://github.com/koenusz/udf

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

